* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
    background: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: #0A1F2C;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-img {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}


.glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glowing-circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#0ef, #b400ff);
}

.glowing-circle span:nth-child(1) {
    filter: blur(20px);
}

.glowing-circle .image {
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glowing-circle .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;

}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-img img {
   /* padding-bottom: 20%; */
   /* max-width: 630px; */
   height: 35rem;
   width: 35rem;
   background: transparent;
   border-radius: 50%;
    border: 4px solid #0ef;
    box-shadow: 0 0 20px #0ef,
                0 0 40px #0ef,
                0 0 60px #0ef,
                0 0 100px #0ef;
   /* border-radius: 8px; */
   position: relative; /* Keeps the glowing effect inside */
    margin-top: 7rem;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}
.about-text h2{
    font-size: 60px;
    color: #0ef;
}
.about-text h3{
    font-size: 40px;
    margin: 10px 0;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 20px;
}

#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4rem;
    margin-bottom: 4rem;
}

.services1 i{
    color: #0ef;
}

.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.contaner{
    margin-top: 60px;
    padding: 90px;
}
.sub-title span{
    color: #0ef;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    color: #081b29;
    letter-spacing: 1px ;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}
.read:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan
}
.services-list div:hover{
    transform: translateY(-10px);
}
.bar i{
    color: #147bbc;
}

/* my skills section */
/* section{
    display: flex;
    flex-wrap: wrap;
} */
.container1{
  position: relative;
    width: 100%; /* Changed to 100% to stop it from being too wide */
    max-width: 900px;
    height: auto; /* This allows the box to grow with the content */
    padding: 75px 70px;
    margin-left: 70px;
    margin-top: 10px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness:5px ;
    margin-bottom: 50px;
}
.bar{
    font-size: 23px;
}
.techinical-bars .bar{
    margin-top: 40px;
   
}
.techinical-bars .bar:first-child{
    margin-top: 0;
}
.techinical-bars .bar:last-child{
    margin-bottom: 0;
}
.techinical-bars .bar .info{
    margin-bottom: 5px;
}
.techinical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.techinical-bars .bar .progress-line{
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #000000;
  animation: animate 1s cubic-bezier(1,0,0,5,1) forwards;
  transition: scaleX(0);
  transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
    
}

.techinical-bars .bar .progress-line span{
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  transform: scaleX(0);
  transform-origin:left ;
}
.progress-line.html span{
 width: 90% ;
}
.progress-line.css span{
 width: 80% ;
}
.progress-line.JavaScript span{
 width: 70% ;
}
.progress-line.java span{
 width: 75% ;
}
.progress-line.Python span{
 width: 60% ;
}
.progress-line.c span{
 width: 60% ;
}
.progress-line.react span{
 width: 60% ;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after{
    content: "90%";
}
.progress-line.css span::after{
    content: "80%";
}
.progress-line.JavaScript span::after{
    content: "70%";
}
.progress-line.java span::after{
    content: "75%";
}
.progress-line.Python span::after{
    content: "60%";
}
.progress-line.c span::after{
    content: "60%";
}
.progress-line.react span::after{
    content: "60%";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
.redial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.redial-bars .redial-bar{
    width: 50px;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.redial-bars .redial-bar svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}
.redial-bars .redial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s  1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}
@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 175;;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125;;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 75;;
    }
}
.redial-bars .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.redial-bars .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.redial-bars .redial-bar {
  width: 140px;
  height: 160px;
  position: relative;
}


/* --- Certification Section & Overlap Fixes --- */

#certifications {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4rem;
    margin-bottom: 100px; 
    padding-top: 50px;
}


#certifications .cert-icon {
    font-size: 50px;
    margin-bottom: 30px;
}


.html-icon { color: #e34c26; }      
.css-icon { color: #264de4; }        
.responsive-icon { color: #0ef; }   
.fund-icon { color: #ffd700; }      
.design-icon { color: #b400ff; }     


.container1 {
    height: auto !important; 
    margin-top: 50px;        
    padding-bottom: 100px;   
}

/* contact section */

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    margin-top: 130px;
    margin-bottom: 50px;
}
.contact-text {
    max-width: 800px;        
    width: 100%;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    font-size: 30px;
    font-weight: 600;
    margin: 15px 0;
    color: rgb(228, 228,228);
}
.contact-text p{
    color: rgb(177,177 ,177 );
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
    padding: 0 20px;
}
.contact-list{
    margin-bottom: 3rem;
    width: 100%;
}
.contact-list li{
    display: block;
    margin-bottom: 20px;
}
.contact-list li{
    display: block;
    margin-bottom: 20px;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.40s ease;
    margin-right: 15px;
}
.contact-list li:hover i {
    transform: scale(1.2) translateY(-5px);
    color: #0ef;
    text-shadow: 0 0 10px #0ef;
}
















@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}



@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}